/* Style for the drag and drop area */
.drag-drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    transition: border 0.3s, background-color 0.3s;
  }
  
  .drag-drop-area.dragging {
    border-color: #007bff;
    background-color: #f0f8ff;
  }
  
  /* Text inside the drag-drop area */
  .drag-drop-text {
    font-size: 1.2rem;
    color: #333;
  }
  
  .uploaded-files-title {
    font-size: 1em;
    font-weight: lighter;
  }

  .uploaded-file-name-container {
    width: 100%;
  }

  .uploaded-file-names {
    font-size: 0.9em;
    font-weight: lighter;
    width: 100%;
    overflow: hidden; /* Hide overflowed content */
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  }