.key-statistics-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.key-statistic-container {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.key-statistic-title {
  font-size: 1.5em;
  font-weight: bold;
}

.key-statistic-description {
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
}