.key-statistics-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.key-statistic-container {
  width: 15;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.key-statistic-title {
  font-size: 2em;
  font-weight: bold;
  animation: fadeIn;
  animation-duration: 1s;
}

.key-statistic-description {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  animation: slideIn;
  animation-duration: 1s;
}

/* Key Statistics Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Key Statistics Slide-In Animation */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}